 @import '../../../../constants/theme';
 .ListCSS{
    
     display: flex;
     flex-direction: column;
     flex: 2;
     margin-right: 20px;
     overflow-y: scroll;
     padding-bottom: 180px;
     box-sizing: border-box;
     height: 100vh;

     //experimental remove scrollbar for firefox
     scrollbar-width: none;
   
    }

.noData{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: $secondary;
    font-weight: bold;
}