.Container{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 8px;



}

.IconColor{
    fill:#003056;
}

.CountText{
    text-align:center;
    color: #003056;
    font-weight:bold;
    padding: 0;
    margin:0;
    padding-top: 2px;
}