@import '/../../../../../constants/theme';

.container{
    flex: 1;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.active{
    background-color: $secondary;
    color: $primary;
}

.inactive{
    background-color: $primary;
    color: $triary;
}