
 .hamburger {
    transition-property: opacity, filter;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; 
 
}
  
  .hamburgerBox {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative; }
  
  .hamburgerInner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburgerInner, .hamburgerInner::before, .hamburgerInner::after {
      width: 30px;
      height: 4px;
      background-color: #003056;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 2s;
      transition-timing-function: ease; }
    .hamburgerInner::before, .hamburgerInner::after {
      content: "";
      display: block; }
    .hamburgerInner::before {
      top: -10px; }
    .hamburgerInner::after {
      bottom: -10px; }
  
  /*
     * 3DX
     */
  .hamburger3dx .hamburgerBox {
    perspective: 80px; }
  
  .hamburger3dx .hamburgerInner {
    transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }
    .hamburger3dx .hamburgerInner::before, .hamburger3dx .hamburgerInner::after {
      transition: transform 0s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }
  
  .hamburger3dx.isActive .hamburgerInner {
    background-color: transparent;
    transform: rotateY(180deg); }
    .hamburger3dx.isActive .hamburgerInner::before {
      transform: translate3d(0, 10px, 0) rotate(45deg); }
    .hamburger3dx.isActive .hamburgerInner::after {
      transform: translate3d(0, -10px, 0) rotate(-45deg); }
  
  


@media (min-width: 668px) {
    .DrawerToggle {
        display: none;
    }
}