@import "../../../../../constants/theme";
.Buttons {
    display: flex;
    flex: 2;
    align-items: center;

}
.button {
    background-color: $primary;
    border: none;
    color: $secondary;
    outline: $primary;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.text {
    font-size: 18px;
    color: $secondary;
    font-weight: bold;
    text-align: center;
    padding-left: 2px;
 
}

.Data {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-top: 2px;
    background-color: $secondary;

}


.Img {
    display: flex;
    flex-direction: row;
    flex: 1;

}

.Name {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    flex: 1;

}



.Email {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.Phone {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.Bond {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.Id {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    flex: 1;

}