@import "../../../../../constants/theme";



.Data {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1;
    flex: 1 1;
    margin-top: 2px;
    background-color: #ffffff;

}


.Img {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1;
    flex: 0;
    margin-right: 10px;

}
/*
.dataStyling{
    padding-top: 25px;
    flex: 1;
    color: $primary;
    font-weight: bold;
}
*/

.dataStyling{
    padding-top: 18px;
    flex: 1;
    color: $primary;
    font-weight: bold;
    flex-direction: row;
}

.data{
    flex: 1;
    padding: 4px;
}

.label{
    font-weight: normal;
    font-style: italic; 
}


.Buttons {
    //display: flex;
    //flex: 1 1;
    -ms-flex-align: center;
    -ms-flex-direction: column;
    flex-direction: column;

}


