@import '../../../../constants/theme';

.container{
    display: flex;
    flex-direction: row;
    height: 80px;


}

.buttonContainer{
    flex: 1;
    display: flex;
}

.button{
    flex: 1 1;
    height: 40px;
    max-width: 40px;
    margin: auto;
    text-align: center;
    opacity: 1;
    -webkit-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;

}

.button:hover{
    cursor: pointer;
    opacity: .8;
    transition: opacity .3s ease-in;
}