@import '../../../../constants/theme';

.container{
    display: flex;
    flex-direction: column;

    background-color: $secondary;
    width: 60px;

    //make the options the same height as a one line post with no comments
    //min-height: 284px;


}

.buttonContainer{
    flex: 1;
    display: flex;
}

.button{
    flex: 1 1;
    //height: 40px;
    //max-width: 40px;
    margin: 10px;
    text-align: center;
    opacity: 1;
    -webkit-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;

}

.button:hover{
    cursor: pointer;
    opacity: .8;
    transition: opacity .3s ease-in;
}


.divider{
    min-height: 2px;
    width: 60px;
    background-color: $primary;
}