.Homepage{
    flex-grow: 1;
    padding-top: 20px;
    max-width: 1300px;
    margin: 0px auto;

}

.Container{
    padding-top: 10px;
    display: flex;
    margin:0px auto;
    width: 95%;
}

.RowA{
    display: flex;
    width: 100vw;

}
.RowAItemA{
    flex: 1;
}

.RowAItemB{
    flex: 3;
}



/*Desktop Only Adjustments*/
@media (min-width:664px){


    .RowAItemB{
        padding-left: 4px;

    }
}

/*Mobile Adjustments*/
@media (max-width:667px){
    .Homepage{
        overflow-y:scroll;
    }

    .RowAItemB{
        margin-top: 8px;
    }
}
