@import '/../../../../../constants/theme';


.container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.emblemText{
    color: $primary;
    font-size: 20px;
    font-weight: bold;
    padding-top: 1px;
    padding-right: 1px;
}


.buttonColor{
    color: $primary;
}

