@import '/../../../constants/theme';

.Button {
    background-color: $primary;
    border: none;
    color: $secondary;
    outline: $primary;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.Button:first-of-type {
    margin-left: 0;

}

.text{
    padding-top: 4px;
    color: $primary;
    font-weight: bold;
    text-align: center;

}

.icon{
    margin-bottom: 6px;
}

.loadingImg{

}