@import '../../constants/theme';

.container{
    
    align-self: center;
    padding-top: 20px;
    -ms-flex-line-pack: center;
    align-content: center;
    height: 100vh;
    justify-content: center;
    
}

.layout{
    //padding-top: 20px;
    -ms-flex-line-pack: center;
    -ms-flex: 1 1;
    display: flex;
    flex: 1 1;
    flex-direction: row;
    width: 80vw;
    margin: auto;

}

.sidebar{
    flex: 4;

}

.blogView{
    flex: 6;
}

.blogHeader{
    font-size: 24px;
    color: $secondary;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    padding: 6px;
    margin-bottom: 4px;
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: 2px solid white;

}

