@import '/../../../constants/theme';

.Badge{
    height: 20px;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    display: inline-block;
    border-radius: 4px;
    position:relative;
}

.BadgeText{
    text-align: center;
    margin:auto;
    font-size: 12px;
    font-weight: bold;
    padding-top: 2px;

}


.standard{
    background-color: $primary;
    color: $secondary;
    border: 2px solid $primary;
}

.inverse{
    background-color: $secondary;
    color: $primary;
    border: 2px solid $primary;
}