@import '/../../../../constants/theme';

.textBox{
    flex: 2;
    text-align: -webkit-center;
    font-size: 30px;
    padding: 4px;
    justify-content: center;
    text-align: center;
    color: $primary;


}
.spinnerText{
    font-size: 60px;
    color: $primary;

}
.spinnerBox{

    text-align: -webkit-center;
    flex: 1;
    text-align: center;
}
.spinnerIcon{
    align-items:'center';
    max-height: 80px;
    max-width: 80px;

}

