@import '/../../../constants/theme';

.Button{
    display: flex;
    flex-flow: row;
    align-content: center;
    padding: 4px;
    cursor: pointer;
    background-color: $secondary;
    border-radius: 8px;
    margin-top: 20px;
    justify-content: center;
    max-width: 300px;
    flex: 1;

}

.Logo{
    height:40px;
    width: 40px;
}

.Button img{
    
    align-self: center;
    padding-right: 5px;

}

.Text{
    padding-left: 10px;
    color: $primary
}