
@import '../../../../constants/theme';

.container{
    flex: 1;
    padding: 10px;
    height:440px;
    overflow:hidden;
}

.galleryContainer{
    height:440px;
}

.image{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    
}