
@import '../../../../constants/theme';

.container{
    flex: 1;
    padding: 10px;
    height:440px;
    overflow:hidden;
}

.galleryContainer{
    .image-gallery-thumbnail .image-gallery-thumbnail-inner{
        color: red;
        background-color: red;
    }
    height:440px;
}

.image-gallery-thumbnail .image-gallery-thumbnail-inner{
    color: red;
    background-color: red;
}

.image{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    
}