@import '../../../../constants/theme';

.container{
    display: flex;
    flex-direction: row;
    padding: 10px;
    //flex: 1;
    color: $secondary;
    justify-content: center;
}

.textInput{
    resize: none;
    border: none;
    background-color: rgba(0,0,0,0);
    color: $secondary;
    border-bottom: 1px solid $secondary;
    width: 400px;
    margin-right: 10px;
}

::-webkit-input-placeholder{
    color: $triary;
}