@import '/../../../constants/theme';
.Toolbar{
    height: 48px;
    width: 100vw;
    background-color: $primary;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    border-bottom: 1px solid $secondary;
}

.DesktopOnly{
    height: 100%;
    margin: auto;
    display:flex;

}

.ButtonCSS{
    background-color: $primary;
    border: none;
    color: $secondary;
    outline: $secondary;
    font: inherit;
    padding: 10px;
    margin: 4px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    right: 0;
    position:fixed;
}

.ButtonMobileCSS{
    background-color: $primary;
    border: none;
    color: $secondary;
    outline: $secondary;
    font: inherit;
    padding: 8px;
    font-weight: bold;
    display: flex;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    border-radius: 4px;
    border: 2px solid $secondary;
    right: 0;
}



.Logo{
    height: 80%;
}

@media (max-width: 667px){
    .DesktopOnly {
        display: none;
    }

    .Logo{
        margin: auto;
    }
}
@media (min-width: 668px){
    .MobileOnly {
        display: none;
    }
}
