.FormCSS{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media(max-width: 400px){
    .FormCSS{
        width: 95vw;
        overflow:hidden;
    }
}

