@import '../../constants/theme';

.Divider{

    width: 100%;
    height: 2px;
    background-color: $primary;
    border: none;
}

.FormCSS{
    align-content: center;
    justify-content: center;
    margin: 0;

    
}

.AdminText{
    text-align: center;
    margin-top:-10px;
    color: $primary;
}