@import '../../../../../constants/theme';

.container{
    width: 150px;
    height: 150px;
    
    flex: 1;
    display: flex;
}

.image{
    height:150px;
    width: 150px;
    border-radius: 8px;
}

input[type="file"] {
    display: none;
}

.deleteButton{
    color: $primary;
    height: 26px;
    width: 26px;
    border-radius: 13px;
    text-align: center;
    background-color: $secondary;
    position: absolute;
    margin-left: 130px;
}