.MobileNav{
    margin-top:50px;
    height: 0px;
    background-color: white;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;

    transition: height 1s;
    transition-delay: .2s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

}


.isActive{
    height:100vh;
    
    transition: height 1s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    
}

.NavItems{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    
    transition: all .5s;
}


.NavItems .ToggleNav{
}
.ToggleNav{
    opacity: 100;
    visibility: visible;
    
    transition: all .5s;

}

